<a href="https://colab.research.google.com/github/Natali1599/MineriaDatos/blob/main/Copia_de_Parcial1MineriaDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Parcial 1 Miner√≠a de datos

In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
pd.set_option('display.max_columns', None) #Mostrar todas las columnas

In [85]:
df = pd.read_csv(
    'https://raw.githubusercontent.com/prof-tatiana-gutierrez/DatosMD/master/student-mat.csv',
    sep = ";")
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10

In [64]:
df.shape

(395, 33)

In [4]:
df.isna().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [5]:
df.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [6]:
pd.unique(df['address'])

array(['U', 'R'], dtype=object)

### 1. Valores vacios o nulos

In [12]:
df.isna()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
391,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
392,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
393,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
394,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

No tiene datos vacios o nulos.

### 2. ¬øcu√°ntos estudiantes viven en zona urbana o rural? ¬øcu√°ntos de los estudiante rurales son mujeres?

In [15]:
df["address"].value_counts()

U    307
R     88
Name: address, dtype: int64

En la zona urbana viven 307 y en la zona rural viven 88

In [16]:
df["sex"].value_counts()

F    208
M    187
Name: sex, dtype: int64

In [17]:
tab1 = pd.crosstab(df["address"],df["sex"])
tab1

sex        F    M
address
R         44   44
U        164  143

Mujeres estudiantes rurales son 44.

### 3. ¬øcu√°ntos estudiantes que viven en la zona rural tiene menos de 5 fallas? ¬øCu√°ntos de ellos son mujeres?

In [20]:
df["absences"].value_counts()

0     115
2      65
4      53
6      31
8      22
10     17
14     12
12     12
3       8
16      7
7       7
5       5
18      5
20      4
11      3
9       3
13      3
15      3
22      3
1       3
38      1
30      1
40      1
23      1
19      1
28      1
75      1
21      1
24      1
56      1
26      1
54      1
25      1
17      1
Name: absences, dtype: int64

In [40]:
dfrural = df[df['address']=="R"]
dfrural

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
24,GP,F,15,R,GT3,T,2,4,services,health,course,mother,1,3,0,yes,yes,yes,yes,yes,yes,yes,no,4,3,2,1,1,5,2,10,9,8
32,GP,M,15,R,GT3,T,4,3,teacher,at_home,course,mother,1,2,0,no,yes,no,yes,yes,yes,yes,yes,4,5,2,1,1,5,0,17,16,16
37,GP,M,16,R,GT3,A,4,4,other,teacher,reputation,mother,2,3,0,no,yes,no,yes,yes,yes,yes,yes,2,4,3,1,1,5,7,15,16,15
38,GP,F,15,R,GT3,T,3,4,services,health,course,mother,1,3,0,yes,yes,yes,yes,yes,yes,yes,no,4,3,2,1,1,5,2,12,12,11
39,GP,F,15,R,GT3,T,2,2,at_home,other,reputation,mother,1,1,0,yes,yes,yes,yes,yes,yes,no,no,4,3,1,1,1,2,8,14,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,MS,F,18,R,GT3,T,2,2,at_home,other,other,mother,2,3,0,no,no,yes,no,yes,yes,no,no,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,reputation,mother,3,1,0,no,yes,yes,yes,yes,yes,yes,yes,4,4,3,2,2,5,7,6,5,6
387,MS,F,19,R,GT3,T,2,3,services,other,course,mother,1,3,1,no,no,no,yes,no,yes,yes,no,5,4,2,1,2,5,0,7,5,0
392,MS,M,21,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,0,11,12,10

In [44]:
tab4=dfrural[dfrural['absences'] < 5]
tab4

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
24,GP,F,15,R,GT3,T,2,4,services,health,course,mother,1,3,0,yes,yes,yes,yes,yes,yes,yes,no,4,3,2,1,1,5,2,10,9,8
32,GP,M,15,R,GT3,T,4,3,teacher,at_home,course,mother,1,2,0,no,yes,no,yes,yes,yes,yes,yes,4,5,2,1,1,5,0,17,16,16
38,GP,F,15,R,GT3,T,3,4,services,health,course,mother,1,3,0,yes,yes,yes,yes,yes,yes,yes,no,4,3,2,1,1,5,2,12,12,11
68,GP,F,15,R,LE3,T,2,2,health,services,reputation,mother,2,2,0,yes,yes,yes,no,yes,yes,yes,no,4,1,3,1,3,4,2,8,9,8
72,GP,F,15,R,GT3,T,1,1,other,other,reputation,mother,1,2,2,yes,yes,no,no,no,yes,yes,yes,3,3,4,2,4,5,2,8,6,5
95,GP,F,15,R,GT3,T,1,1,at_home,other,home,mother,2,4,1,yes,yes,yes,yes,yes,yes,yes,no,3,1,2,1,1,1,2,7,10,10
96,GP,M,16,R,GT3,T,4,3,services,other,reputation,mother,2,1,0,yes,yes,no,yes,no,yes,yes,no,3,3,3,1,1,4,2,11,15,15
111,GP,F,16,R,GT3,T,3,3,services,other,reputation,father,1,3,1,yes,yes,no,yes,yes,yes,yes,no,4,1,2,1,1,2,0,7,10,10
128,GP,M,18,R,GT3,T,2,2,services,other,reputation,mother,1,1,2,no,yes,no,yes,yes,yes,yes,no,3,3,3,1,2,4,0,7,4,0
130,GP,F,15,R,GT3,T,3,4,services,teacher,course,father,2,3,2,no,yes,no,no,yes,yes,yes,yes,4,2,2,2,2,5,0,12,0,0
134,GP,M,15,R,GT3,T,3,4,at_home,teacher,course,mother,4,2,0,no,yes,no,no,yes,yes,no,yes,5,3,3,1,1,5,0,9,0,0
136,GP,M,17,R,GT3,T,3,4,at_home,other,course,mother,3,2,0,no,no,no,no,yes,yes,no,no,5,4,5,2,4,5,0,10,0,0
155,GP,M,15,R,GT3,T,2,3,at_home,services,course,mother,1,2,0,yes,no,yes,yes,yes,yes,no,no,4,4,4,1,1,1,2,11,8,8
158,GP,M,16,R,GT3,T,2,2,at_home,other,course,mother,3,1,0,no,no,no,no,no,yes,no,no,4,2,2,1,2,3,2,17,15,15
160,GP,M,17,R,LE3,T,2,1,at_home,other,course,mother,2,1,2,no,no,no,yes,yes,no,yes,yes,3,3,2,2,2,5,0,7,6,0
164,GP,M,17,R,LE3,T,1,1,other,services,course,mother,4,2,3,no,no,no,yes,yes,no,no,yes,5,3,5,1,5,5,0,5,8,7
189,GP,M,17,R,GT3,T,1,2,at_home,other,home,mother,1,2,0,no,no,no,no,yes,yes,no,no,3,1,3,1,5,3,4,8,9,10
220,GP,F,17,R,GT3,T,2,1,at_home,services,reputation,mother,2,2,0,no,yes,no,yes,yes,yes,yes,no,4,2,5,1,2,5,2,6,6,6
231,GP,M,17,R,GT3,T,2,2,other,other,course,father,2,2,0,no,yes,yes,yes,yes,yes,yes,no,4,5,2,1,1,1,4,11,11,11
238,GP,F,17,R,GT3,T,2,1,at_home,services,course,mother,3,2,0,no,no,no,yes,yes,yes,no,no,2,1,1,1,1,3,2,13,11,11
241,GP,M,17,R,LE3,A,4,4,teacher,other,course,mother,2,2,0,no,yes,yes,no,yes,yes,yes,no,3,3,3,2,3,4,2,10,11,12
253,GP,M,16,R,GT3,T,2,1,other,other,course,mother,2,1,0,no,no,no,yes,no,yes,no,no,3,3,2,1,3,3,0,8,9,8
254,GP,M,17,R,GT3,T,2,1,other,other,course,mother,1,1,0,no,no,no,no,no,yes,yes,no,4,4,2,2,4,5,0,8,12,12
262,GP,M,18,R,GT3,T,3,2,other,other,course,mother,1,3,0,no,no,no,yes,no,yes,no,no,5,3,2,1,1,3,1,13,12,12
269,GP,F,18,R,GT3,T,2,1,other,other,reputation,mother,2,2,0,no,yes,no,no,yes,no,yes,yes,4,3,5,1,2,3,0,6,0,0
273,GP,M,17,R,GT3,T,1,2,at_home,at_home,home,mother,1,2,0,no,yes,yes,yes,no,yes,no,yes,3,5,2,2,2,1,2,15,14,14
282,GP,F,18,R,LE3,T,1,1,at_home,other,reputation,mother,2,4,0,no,yes,yes,yes,yes,yes,no,no,5,2,2,1,1,3,1,12,12,12
308,GP,M,19,R,GT3,T,3,3,other,services,reputation,father,1,2,1,no,no,no,yes,yes,yes,no,yes,4,5,3,1,2,5,0,15,12,12
318,GP,F,17,R,GT3,T,3,4,at_home,services,course,father,1,3,0,no,yes,yes,yes,no,yes,yes,no,4,3,4,2,5,5,0,11,11,10
322,GP,F,17,R,LE3,T,2,2,services,services,course,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,no,3,3,2,2,2,3,3,11,11,11
334,GP,F,18,R,GT3,T,2,2,at_home,other,course,mother,2,4,0,no,no,no,yes,yes,yes,no,no,4,4,4,1,1,4,0,10,9,0
339,GP,F,17,R,GT3,A,3,2,other,other,home,mother,1,2,0,no,yes,yes,no,yes,yes,yes,no,4,3,3,2,3,2,4,9,10,10
353,MS,M,19,R,GT3,T,1,1,other,other,home,other,3,1,1,no,yes,no,no,yes,yes,yes,no,4,4,4,3,3,5,4,8,8,8
354,MS,M,17,R,GT3,T,4,3,services,other,home,mother,2,2,0,no,yes,yes,yes,no,yes,yes,yes,4,5,5,1,3,2,4,13,11,11
356,MS,F,17,R,GT3,T,4,4,teacher,services,other,father,2,2,0,no,yes,yes,yes,yes,yes,yes,no,4,3,3,1,2,5,4,12,13,13
360,MS,F,18,R,LE3,A,1,4,at_home,other,course,mother,3,2,0,no,no,no,no,yes,yes,no,yes,4,3,4,1,4,5,0,13,13,13
361,MS,M,18,R,LE3,T,1,1,at_home,other,other,mother,2,2,1,no,no,no,yes,no,no,no,no,4,4,3,2,3,5,2,13,12,12
364,MS,F,17,R,GT3,T,1,2,other,services,course,father,2,2,0,no,no,no,no,no,yes,no,no,3,2,2,1,2,3,0,12,11,12
365,MS,M,18,R,GT3,T,1,3,at_home,other,course,mother,2,2,0,no,yes,yes,no,yes,yes,no,no,3,3,4,2,4,3,4,10,10,10
367,MS,F,17,R,GT3,T,1,1,other,services,reputation,mother,3,1,1,no,yes,yes,no,yes,yes,yes,yes,5,2,1,1,2,1,0,7,6,0
371,MS,M,18,R,LE3,T,1,2,at_home,services,other,father,3,1,0,no,yes,yes,yes,yes,no,yes,yes,4,3,3,2,3,3,3,14,12,12
374,MS,F,18,R,LE3,T,4,4,other,other,reputation,mother,2,3,0,no,no,no,no,yes,yes,yes,no,5,4,4,1,1,1,0,19,18,19
375,MS,F,18,R,GT3,T,1,1,other,other,home,mother,4,3,0,no,no,no,no,yes,yes,yes,no,4,3,2,1,2,4,2,8,8,10
377,MS,F,18,R,LE3,T,4,4,teacher,services,course,mother,1,2,0,no,no,yes,yes,yes,yes,yes,no,5,4,3,3,4,2,4,8,9,10
383,MS,M,19,R,GT3,T,1,1,other,services,other,mother,2,1,1,no,no,no,no,yes,yes,no,no,4,3,2,1,3,5,0,6,5,0
385,MS,F,18,R,GT3,T,2,2,at_home,other,other,mother,2,3,0,no,no,yes,no,yes,yes,no,no,5,3,3,1,3,4,2,10,9,10
387,MS,F,19,R,GT3,T,2,3,services,other,course,mother,1,3,1,no,no,no,yes,no,yes,yes,no,5,4,2,1,2,5,0,7,5,0
392,MS,M,21,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,0,11,12,10

In [55]:
tab4.shape

(49, 33)

La cantidad de estudiantes que viven en la zona rural y tienen menos de 5 fallas son 49.

In [51]:
tab5=tab4[tab4['sex']=="M"] 
tab5

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
32,GP,M,15,R,GT3,T,4,3,teacher,at_home,course,mother,1,2,0,no,yes,no,yes,yes,yes,yes,yes,4,5,2,1,1,5,0,17,16,16
96,GP,M,16,R,GT3,T,4,3,services,other,reputation,mother,2,1,0,yes,yes,no,yes,no,yes,yes,no,3,3,3,1,1,4,2,11,15,15
128,GP,M,18,R,GT3,T,2,2,services,other,reputation,mother,1,1,2,no,yes,no,yes,yes,yes,yes,no,3,3,3,1,2,4,0,7,4,0
134,GP,M,15,R,GT3,T,3,4,at_home,teacher,course,mother,4,2,0,no,yes,no,no,yes,yes,no,yes,5,3,3,1,1,5,0,9,0,0
136,GP,M,17,R,GT3,T,3,4,at_home,other,course,mother,3,2,0,no,no,no,no,yes,yes,no,no,5,4,5,2,4,5,0,10,0,0
155,GP,M,15,R,GT3,T,2,3,at_home,services,course,mother,1,2,0,yes,no,yes,yes,yes,yes,no,no,4,4,4,1,1,1,2,11,8,8
158,GP,M,16,R,GT3,T,2,2,at_home,other,course,mother,3,1,0,no,no,no,no,no,yes,no,no,4,2,2,1,2,3,2,17,15,15
160,GP,M,17,R,LE3,T,2,1,at_home,other,course,mother,2,1,2,no,no,no,yes,yes,no,yes,yes,3,3,2,2,2,5,0,7,6,0
164,GP,M,17,R,LE3,T,1,1,other,services,course,mother,4,2,3,no,no,no,yes,yes,no,no,yes,5,3,5,1,5,5,0,5,8,7
189,GP,M,17,R,GT3,T,1,2,at_home,other,home,mother,1,2,0,no,no,no,no,yes,yes,no,no,3,1,3,1,5,3,4,8,9,10
231,GP,M,17,R,GT3,T,2,2,other,other,course,father,2,2,0,no,yes,yes,yes,yes,yes,yes,no,4,5,2,1,1,1,4,11,11,11
241,GP,M,17,R,LE3,A,4,4,teacher,other,course,mother,2,2,0,no,yes,yes,no,yes,yes,yes,no,3,3,3,2,3,4,2,10,11,12
253,GP,M,16,R,GT3,T,2,1,other,other,course,mother,2,1,0,no,no,no,yes,no,yes,no,no,3,3,2,1,3,3,0,8,9,8
254,GP,M,17,R,GT3,T,2,1,other,other,course,mother,1,1,0,no,no,no,no,no,yes,yes,no,4,4,2,2,4,5,0,8,12,12
262,GP,M,18,R,GT3,T,3,2,other,other,course,mother,1,3,0,no,no,no,yes,no,yes,no,no,5,3,2,1,1,3,1,13,12,12
273,GP,M,17,R,GT3,T,1,2,at_home,at_home,home,mother,1,2,0,no,yes,yes,yes,no,yes,no,yes,3,5,2,2,2,1,2,15,14,14
308,GP,M,19,R,GT3,T,3,3,other,services,reputation,father,1,2,1,no,no,no,yes,yes,yes,no,yes,4,5,3,1,2,5,0,15,12,12
353,MS,M,19,R,GT3,T,1,1,other,other,home,other,3,1,1,no,yes,no,no,yes,yes,yes,no,4,4,4,3,3,5,4,8,8,8
354,MS,M,17,R,GT3,T,4,3,services,other,home,mother,2,2,0,no,yes,yes,yes,no,yes,yes,yes,4,5,5,1,3,2,4,13,11,11
361,MS,M,18,R,LE3,T,1,1,at_home,other,other,mother,2,2,1,no,no,no,yes,no,no,no,no,4,4,3,2,3,5,2,13,12,12
365,MS,M,18,R,GT3,T,1,3,at_home,other,course,mother,2,2,0,no,yes,yes,no,yes,yes,no,no,3,3,4,2,4,3,4,10,10,10
371,MS,M,18,R,LE3,T,1,2,at_home,services,other,father,3,1,0,no,yes,yes,yes,yes,no,yes,yes,4,3,3,2,3,3,3,14,12,12
383,MS,M,19,R,GT3,T,1,1,other,services,other,mother,2,1,1,no,no,no,no,yes,yes,no,no,4,3,2,1,3,5,0,6,5,0
392,MS,M,21,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,0,11,12,10

In [54]:
tab5.shape

(25, 33)

La cantidad de mujeres de la zona rural que tienen menos de 5 ausencias son 25.

### 4. Ver la media de las notas de matem√°ticas de primer corte (G1) de los estudiantes deel colegio gabriel pereira vs Mousinho da Silveita, teniendo en cuenta si los estudiantes tienen o no internet en sus casas.

In [60]:
colgp = df[df['school']=="GP"]
colgp

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,GP,F,18,U,GT3,T,2,3,at_home,other,course,mother,1,3,0,no,yes,no,no,yes,yes,yes,no,4,3,3,1,2,3,4,11,10,10
345,GP,F,18,U,GT3,T,3,2,other,services,other,mother,1,3,0,no,no,no,no,yes,yes,yes,yes,5,4,3,2,3,1,7,13,13,14
346,GP,M,18,R,GT3,T,4,3,teacher,services,course,mother,1,3,0,no,no,no,no,yes,yes,yes,yes,5,3,2,1,2,4,9,16,15,16
347,GP,M,18,U,GT3,T,4,3,teacher,other,course,mother,1,3,0,no,yes,yes,no,yes,yes,yes,yes,5,4,5,2,3,5,0,10,10,9
348,GP,F,17,U,GT3,T,4,3,health,other,reputation,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,4,4,3,1,3,4,0,13,15,15

In [61]:
colgp.shape

(349, 33)

In [62]:
colms = df[df['school']=="MS"]
colms

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
349,MS,M,18,R,GT3,T,3,2,other,other,course,mother,2,1,1,no,yes,no,no,no,yes,yes,no,2,5,5,5,5,5,10,11,13,13
350,MS,M,19,R,GT3,T,1,1,other,services,home,other,3,2,3,no,no,no,no,yes,yes,yes,no,5,4,4,3,3,2,8,8,7,8
351,MS,M,17,U,GT3,T,3,3,health,other,course,mother,2,2,0,no,yes,yes,no,yes,yes,yes,no,4,5,4,2,3,3,2,13,13,13
352,MS,M,18,U,LE3,T,1,3,at_home,services,course,mother,1,1,1,no,no,no,no,yes,no,yes,yes,4,3,3,2,3,3,7,8,7,8
353,MS,M,19,R,GT3,T,1,1,other,other,home,other,3,1,1,no,yes,no,no,yes,yes,yes,no,4,4,4,3,3,5,4,8,8,8
354,MS,M,17,R,GT3,T,4,3,services,other,home,mother,2,2,0,no,yes,yes,yes,no,yes,yes,yes,4,5,5,1,3,2,4,13,11,11
355,MS,F,18,U,GT3,T,3,3,services,services,course,father,1,2,0,no,yes,no,no,yes,yes,no,yes,5,3,4,1,1,5,0,10,9,9
356,MS,F,17,R,GT3,T,4,4,teacher,services,other,father,2,2,0,no,yes,yes,yes,yes,yes,yes,no,4,3,3,1,2,5,4,12,13,13
357,MS,F,17,U,LE3,A,3,2,services,other,reputation,mother,2,2,0,no,no,no,no,yes,yes,no,yes,1,2,3,1,2,5,2,12,12,11
358,MS,M,18,U,LE3,T,1,1,other,services,home,father,2,1,0,no,no,no,no,no,yes,yes,yes,3,3,2,1,2,3,4,10,10,10
359,MS,F,18,U,LE3,T,1,1,at_home,services,course,father,2,3,0,no,no,no,no,yes,yes,yes,no,5,3,2,1,1,4,0,18,16,16
360,MS,F,18,R,LE3,A,1,4,at_home,other,course,mother,3,2,0,no,no,no,no,yes,yes,no,yes,4,3,4,1,4,5,0,13,13,13
361,MS,M,18,R,LE3,T,1,1,at_home,other,other,mother,2,2,1,no,no,no,yes,no,no,no,no,4,4,3,2,3,5,2,13,12,12
362,MS,F,18,U,GT3,T,3,3,services,services,other,mother,2,2,0,no,yes,no,no,yes,yes,yes,yes,4,3,2,1,3,3,0,11,11,10
363,MS,F,17,U,LE3,T,4,4,at_home,at_home,course,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,yes,2,3,4,1,1,1,0,16,15,15
364,MS,F,17,R,GT3,T,1,2,other,services,course,father,2,2,0,no,no,no,no,no,yes,no,no,3,2,2,1,2,3,0,12,11,12
365,MS,M,18,R,GT3,T,1,3,at_home,other,course,mother,2,2,0,no,yes,yes,no,yes,yes,no,no,3,3,4,2,4,3,4,10,10,10
366,MS,M,18,U,LE3,T,4,4,teacher,services,other,mother,2,3,0,no,no,yes,no,yes,yes,yes,yes,4,2,2,2,2,5,0,13,13,13
367,MS,F,17,R,GT3,T,1,1,other,services,reputation,mother,3,1,1,no,yes,yes,no,yes,yes,yes,yes,5,2,1,1,2,1,0,7,6,0
368,MS,F,18,U,GT3,T,2,3,at_home,services,course,father,2,1,0,no,yes,yes,no,yes,yes,yes,yes,5,2,3,1,2,4,0,11,10,10
369,MS,F,18,R,GT3,T,4,4,other,teacher,other,father,3,2,0,no,yes,yes,no,no,yes,yes,yes,3,2,2,4,2,5,10,14,12,11
370,MS,F,19,U,LE3,T,3,2,services,services,home,other,2,2,2,no,no,no,yes,yes,yes,no,yes,3,2,2,1,1,3,4,7,7,9
371,MS,M,18,R,LE3,T,1,2,at_home,services,other,father,3,1,0,no,yes,yes,yes,yes,no,yes,yes,4,3,3,2,3,3,3,14,12,12
372,MS,F,17,U,GT3,T,2,2,other,at_home,home,mother,1,3,0,no,no,no,yes,yes,yes,no,yes,3,4,3,1,1,3,8,13,11,11
373,MS,F,17,R,GT3,T,1,2,other,other,course,mother,1,1,0,no,no,no,yes,yes,yes,yes,no,3,5,5,1,3,1,14,6,5,5
374,MS,F,18,R,LE3,T,4,4,other,other,reputation,mother,2,3,0,no,no,no,no,yes,yes,yes,no,5,4,4,1,1,1,0,19,18,19
375,MS,F,18,R,GT3,T,1,1,other,other,home,mother,4,3,0,no,no,no,no,yes,yes,yes,no,4,3,2,1,2,4,2,8,8,10
376,MS,F,20,U,GT3,T,4,2,health,other,course,other,2,3,2,no,yes,yes,no,no,yes,yes,yes,5,4,3,1,1,3,4,15,14,15
377,MS,F,18,R,LE3,T,4,4,teacher,services,course,mother,1,2,0,no,no,yes,yes,yes,yes,yes,no,5,4,3,3,4,2,4,8,9,10
378,MS,F,18,U,GT3,T,3,3,other,other,home,mother,1,2,0,no,no,yes,no,yes,yes,yes,yes,4,1,3,1,2,1,0,15,15,15
379,MS,F,17,R,GT3,T,3,1,at_home,other,reputation,mother,1,2,0,no,yes,yes,yes,no,yes,yes,no,4,5,4,2,3,1,17,10,10,10
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,home,father,1,2,0,no,no,yes,yes,no,yes,yes,no,3,2,4,1,4,2,4,15,14,14
381,MS,M,18,R,GT3,T,2,1,other,other,other,mother,2,1,0,no,no,no,yes,no,yes,yes,yes,4,4,3,1,3,5,5,7,6,7
382,MS,M,17,U,GT3,T,2,3,other,services,home,father,2,2,0,no,no,no,yes,yes,yes,yes,no,4,4,3,1,1,3,2,11,11,10
383,MS,M,19,R,GT3,T,1,1,other,services,other,mother,2,1,1,no,no,no,no,yes,yes,no,no,4,3,2,1,3,5,0,6,5,0
384,MS,M,18,R,GT3,T,4,2,other,other,home,father,2,1,1,no,no,yes,no,yes,yes,no,no,5,4,3,4,3,3,14,6,5,5
385,MS,F,18,R,GT3,T,2,2,at_home,other,other,mother,2,3,0,no,no,yes,no,yes,yes,no,no,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,reputation,mother,3,1,0,no,yes,yes,yes,yes,yes,yes,yes,4,4,3,2,2,5,7,6,5,6
387,MS,F,19,R,GT3,T,2,3,services,other,course,mother,1,3,1,no,no,no,yes,no,yes,yes,no,5,4,2,1,2,5,0,7,5,0
388,MS,F,18,U,LE3,T,3,1,teacher,services,course,mother,1,2,0,no,yes,yes,no,yes,yes,yes,no,4,3,4,1,1,1,0,7,9,8
389,MS,F,18,U,GT3,T,1,1,other,other,course,mother,2,2,1,no,no,no,yes,yes,yes,no,no,1,1,1,1,1,5,0,6,5,0
390,MS,M,20,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,no,no,no,yes,yes,yes,no,3,2,3,3,3,5,5,8,9,9

In [63]:
colms.shape

(46, 33)

In [94]:
#internet
#G1
tabgg=pd.pivot_table(colms, index=['G1','internet'], aggfunc=np.mean)
tabgg

                 Dalc      Fedu         G2         G3      Medu      Walc  \
G1 internet
6  no        2.000000  1.333333   5.000000   1.666667  2.000000  2.333333
   yes       1.500000  3.000000   5.000000   5.500000  2.500000  2.500000
7  no        1.000000  2.000000   7.000000   9.000000  3.000000  1.000000
   yes       1.000000  1.500000   6.500000   3.750000  2.000000  2.000000
8  yes       2.500000  1.833333   8.000000   8.833333  1.500000  3.000000
9  no        4.000000  2.000000   9.000000   9.000000  2.000000  5.000000
10 no        1.750000  2.250000   9.000000   9.000000  1.750000  2.750000
   yes       1.500000  1.000000  10.000000  10.000000  2.000000  2.500000
11 yes       2.200000  2.600000  11.400000  10.600000  2.600000  3.000000
12 no        1.000000  2.000000  11.500000  11.500000  2.000000  2.000000
   yes       1.000000  4.000000  13.000000  13.000000  4.000000  2.000000
13 no        1.333333  2.333333  12.000000  12.000000  1.333333  2.666667
   yes       1.666667  3.333333  12.333333  12.333333  3.666667  2.666667
14 yes       3.000000  2.333333  13.333333  13.000000  2.666667  3.000000
15 yes       1.000000  3.000000  14.333333  14.666667  3.666667  2.333333
16 yes       1.000000  4.000000  15.000000  15.000000  4.000000  1.000000
18 yes       1.000000  1.000000  16.000000  16.000000  1.000000  1.000000
19 yes       1.000000  4.000000  18.000000  19.000000  4.000000  1.000000

              absences        age  failures    famrel  freetime     goout  \
G1 internet
6  no         4.666667  18.333333  1.000000  3.333333  2.666667  2.000000
   yes       10.500000  17.500000  0.000000  3.500000  4.500000  4.000000
7  no         4.000000  19.000000  2.000000  3.000000  2.000000  2.000000
   yes        1.250000  18.000000  0.500000  4.500000  3.250000  2.500000
8  yes        5.000000  18.500000  0.833333  4.166667  3.333333  3.166667
9  no        11.000000  20.000000  2.000000  5.000000  5.000000  4.000000
10 no         2.250000  18.750000  0.750000  4.500000  3.500000  3.500000
   yes       10.500000  17.500000  0.000000  3.500000  4.000000  3.000000
11 yes        2.400000  17.800000  0.200000  3.800000  3.600000  2.800000
12 no         1.000000  17.000000  0.000000  2.000000  2.000000  2.500000
   yes        4.000000  17.000000  0.000000  4.000000  3.000000  3.000000
13 no         3.333333  17.666667  0.333333  3.666667  3.666667  3.333333
   yes        2.000000  17.333333  0.000000  4.000000  4.000000  3.666667
14 yes        5.333333  17.666667  0.000000  3.000000  3.000000  3.333333
15 yes        2.666667  18.666667  0.666667  4.000000  2.333333  3.333333
16 yes        0.000000  17.000000  0.000000  2.000000  3.000000  4.000000
18 yes        0.000000  18.000000  0.000000  5.000000  3.000000  2.000000
19 yes        0.000000  18.000000  0.000000  5.000000  4.000000  4.000000

               health  studytime  traveltime
G1 internet
6  no        4.333333   1.333333    2.000000
   yes       3.000000   1.000000    2.000000
7  no        3.000000   2.000000    2.000000
   yes       3.000000   1.750000    1.750000
8  yes       3.500000   1.666667    2.166667
9  no        4.000000   2.000000    1.000000
10 no        3.750000   2.000000    1.500000
   yes       2.000000   1.500000    1.500000
11 yes       4.000000   1.400000    2.200000
12 no        4.000000   2.000000    2.000000
   yes       5.000000   2.000000    2.000000
13 no        4.333333   2.333333    2.000000
   yes       3.333333   2.333333    2.000000
14 yes       3.333333   1.333333    2.666667
15 yes       2.000000   2.333333    1.333333
16 yes       1.000000   2.000000    1.000000
18 yes       4.000000   3.000000    2.000000
19 yes       1.000000   3.000000    2.000000

In [76]:
pd.pivot_table(colgp, index=['G1','internet'], aggfunc=np.mean)

                 Dalc      Fedu         G2         G3      Medu      Walc  \
G1 internet
3  yes       1.000000  3.000000   5.000000   5.000000  3.000000  3.000000
4  yes       1.000000  3.000000   0.000000   0.000000  3.000000  1.000000
5  no        1.000000  2.500000   7.000000   6.500000  2.500000  3.000000
   yes       1.000000  2.000000   3.800000   3.600000  2.400000  2.000000
6  no        1.000000  2.666667   6.666667   5.333333  2.666667  1.333333
   yes       1.750000  2.062500   5.812500   4.312500  2.625000  3.312500
7  no        1.500000  1.750000   5.250000   5.750000  1.500000  3.000000
   yes       1.535714  2.357143   7.178571   5.714286  2.714286  2.035714
8  no        1.222222  2.555556   8.555556   8.555556  2.444444  2.555556
   yes       1.269231  2.038462   8.307692   7.807692  2.346154  2.076923
9  no        1.200000  1.800000   7.000000   6.000000  1.400000  3.000000
   yes       1.640000  2.560000   9.160000   8.440000  2.800000  2.400000
10 no        1.400000  3.200000   8.000000   6.200000  3.000000  2.000000
   yes       1.875000  2.825000  10.175000   9.625000  3.025000  2.650000
11 no        1.333333  2.666667  10.500000  10.666667  2.833333  1.500000
   yes       1.428571  2.678571  10.821429  10.785714  2.964286  2.178571
12 no        1.750000  1.250000  12.000000  13.000000  2.250000  2.250000
   yes       1.500000  2.642857  11.607143  11.821429  2.714286  2.392857
13 no        1.000000  1.500000  11.500000  11.500000  2.500000  1.000000
   yes       1.400000  2.640000  13.040000  13.000000  2.800000  2.160000
14 no        1.000000  2.000000  13.250000  13.250000  2.500000  1.750000
   yes       1.391304  3.043478  13.695652  14.000000  3.173913  2.086957
15 no        1.666667  2.333333  13.666667  13.333333  2.666667  2.000000
   yes       1.055556  2.388889  14.555556  14.888889  3.222222  1.888889
16 no        2.500000  3.000000  14.500000  15.000000  1.500000  3.000000
   yes       1.157895  2.947368  15.842105  16.210526  3.000000  2.105263
17 no        1.000000  2.000000  16.500000  16.500000  2.500000  1.500000
   yes       1.333333  3.333333  16.500000  17.000000  3.666667  2.166667
18 no        1.000000  1.000000  18.000000  18.000000  3.000000  1.000000
   yes       1.333333  2.833333  18.333333  18.500000  3.333333  2.166667
19 yes       1.000000  3.500000  18.500000  19.000000  4.000000  1.000000

             absences        age  failures    famrel  freetime     goout  \
G1 internet
3  yes       8.000000  18.000000  1.000000  4.000000  3.000000  3.000000
4  yes       0.000000  16.000000  2.000000  4.000000  3.000000  2.000000
5  no        3.000000  17.500000  1.500000  4.500000  3.000000  4.500000
   yes       4.400000  16.800000  1.600000  4.000000  4.000000  3.800000
6  no        3.333333  16.666667  0.333333  4.000000  2.333333  3.333333
   yes       6.625000  17.312500  1.375000  3.625000  3.125000  4.437500
7  no        2.250000  17.000000  1.000000  3.250000  3.500000  3.000000
   yes       5.571429  16.178571  0.642857  3.928571  3.142857  3.107143
8  no        5.555556  16.111111  0.000000  3.888889  2.777778  2.666667
   yes       4.923077  16.384615  0.461538  4.153846  3.269231  3.038462
9  no        3.200000  17.000000  0.800000  4.400000  2.800000  3.600000
   yes       9.280000  16.680000  0.320000  3.880000  3.280000  3.040000
10 no        4.000000  16.600000  0.000000  3.600000  3.400000  3.800000
   yes       7.250000  16.375000  0.175000  3.975000  3.225000  3.425000
11 no        4.000000  16.166667  0.166667  4.166667  3.500000  3.000000
   yes       7.571429  16.428571  0.107143  3.892857  3.214286  3.107143
12 no        6.250000  16.500000  0.500000  4.500000  3.500000  2.500000
   yes       6.428571  16.642857  0.142857  3.892857  3.107143  3.035714
13 no        1.500000  17.500000  0.000000  3.500000  2.000000  1.500000
   yes       6.200000  16.480000  0.120000  4.120000  3.240000  2.640000
14 no        6.000000  16.250000  0.500000  4.000000  3.250000  2.500000
   yes       4.217391  16.478261  0.043478  3.956522  3.565217  2.956522
15 no        1.333333  17.000000  0.333333  3.666667  4.333333  2.666667
   yes       5.333333  16.666667  0.166667  4.055556  3.055556  3.055556
16 no        4.000000  17.000000  0.000000  3.500000  3.000000  2.000000
   yes       4.736842  16.210526  0.000000  4.000000  3.421053  3.105263
17 no        1.000000  18.000000  0.000000  4.500000  3.500000  2.500000
   yes       6.333333  16.666667  0.000000  4.166667  2.500000  2.500000
18 no        6.000000  17.000000  0.000000  3.000000  1.000000  2.000000
   yes       9.833333  16.166667  0.166667  3.833333  3.833333  3.333333
19 yes       3.000000  15.500000  0.000000  4.000000  2.500000  2.500000

               health  studytime  traveltime
G1 internet
3  yes       5.000000   2.000000    1.000000
4  yes       5.000000   1.000000    2.000000
5  no        4.000000   2.000000    3.000000
   yes       3.600000   1.600000    1.200000
6  no        3.666667   2.333333    1.333333
   yes       3.687500   1.500000    1.312500
7  no        3.750000   1.500000    1.500000
   yes       3.392857   2.250000    1.428571
8  no        3.777778   1.666667    1.444444
   yes       3.576923   1.692308    1.423077
9  no        3.600000   1.600000    2.200000
   yes       3.920000   2.160000    1.280000
10 no        4.200000   3.000000    1.600000
   yes       3.525000   2.175000    1.575000
11 no        3.000000   1.666667    1.500000
   yes       3.142857   2.250000    1.357143
12 no        3.750000   1.750000    1.500000
   yes       4.071429   1.964286    1.321429
13 no        3.000000   2.500000    2.000000
   yes       3.680000   2.200000    1.320000
14 no        4.250000   2.000000    1.000000
   yes       3.347826   2.043478    1.217391
15 no        3.666667   2.000000    1.000000
   yes       3.666667   2.444444    1.166667
16 no        5.000000   1.500000    1.000000
   yes       2.789474   2.421053    1.263158
17 no        4.000000   1.000000    2.000000
   yes       3.833333   2.166667    1.333333
18 no        3.000000   4.000000    2.000000
   yes       3.166667   1.333333    1.500000
19 yes       3.500000   3.000000    1.000000

### 5. Cree una variable en la tabla que corresponda a la calificaci√≥n total para cada uno de los estudiantes teniendo en cuenta lo siguiente: 


*   G1 (35%)
*   G2 (35%)
*   G3 (30%)

In [80]:
from scipy import stats
import numpy as np

In [81]:
!pip install dfply

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dfply
  Downloading dfply-0.3.3-py3-none-any.whl (612 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 612 kB 32.5 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from dfply) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from dfply) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->dfply) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->dfply) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->dfply) (1.15.0)
Installing collected packages: dfply
Successfully installed dfply-0.3.3

In [82]:
from sklearn import datasets
from dfply import *
import numpy as np

In [86]:
Base10 = (df >>
 mutate(
   total = (X.G1*0.35+X.G2*0.35+X.G3*0.30),
 ))
Base10.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,total
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6,5.65
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6,5.30
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10,8.25
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15,14.65
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10,8.60

In [84]:
Base10.shape

(395, 34)

In [88]:
Base10['total'].describe()

count    395.000000
mean      10.692532
std        3.662308
min        1.400000
25%        8.350000
50%       10.700000
75%       13.325000
max       19.300000
Name: total, dtype: float64



*   La media es 10.69
*   La mediana es 3.66
*   M√≠nima calificaci√≥n es 1.4
*   La m√°xima calificaci√≥n es 19.30

### 6. Responda

* ¬øQu√© tipo de an√°lisis realizar√≠a ¬øRegresi√≥n o clasificaci√≥n?? 
Respuesta: Clasificaci√≥n, por tener mayor cantidad de variables discretas.
* ¬øQue variable usar√≠a para predecir o clasificar? 
Respuesta: La nota total / notas  
* ¬øcu√°les variables tiene la hip√≥tesis que podr√≠an servir para pronosticar o clasificar? 
Respuesta: La nota total, nota por cortes, sexo, edad, zona, tiempo de estudio, reprobaciones, schoolsup, internet, ausencias.

### Bibliograf√≠a 
https://archive.ics.uci.edu/ml/datasets/student+performance